[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bootruin"]
	path = bootruin
	url = https://github.com/baumgrt/bootruin
[submodule "finiteruinprob"]
	path = finiteruinprob
	url = https://github.com/baumgrt/finiteruinprob
[submodule "sdprisk"]
	path = sdprisk
	url = https://github.com/baumgrt/sdprisk
